.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff; /* naranja */
    padding: 10px 20px;
    border-radius: 30px;
    width: 300px;
}

.search-bar svg {
    margin-right: 10px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
}

.search-bar input::placeholder {
    color: #555;
}

@media screen and (max-width: 768px) {
    body{
        overflow: hidden;
    }
    .search-bar {
        width: 70%;
        padding: 10px;
    }
}