.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff; /* naranja */
    padding: 10px 20px;
    border-radius: 30px;
    width: 300px;
}

.search-bar svg {
    margin-right: 10px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
}

.search-bar input::placeholder {
    color: #555;
}

.search-results{
    width: 300px;
    background-color: #fff;
    margin-top: 2.6em;
    border-radius: 0 0 30px 30px;
}

.search-results ul{
    place-items: flex-start;
}

.imgProductoBuscado{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.linkProductoBsucado{
    text-decoration: none;
}

.listaProductoBuscado li{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .search-bar {
        width: 70%;
        padding: 10px;
        width: 200px;
    }
    .slider-button{
        display: none !important;
    }
}