.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #e0e0e0;
}

.dashboard-button {
    background-color: #f8d7da; /* rosado claro */
    color: #000;
    border: none;
    padding: 12px 24px;
    border-radius: 12px; /* vértices redondeados */
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-button:hover {
    background-color: #f1b0b7; /* tono más oscuro al pasar el mouse */
}