.perfilTitle {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
}

.perfilTitle::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: #F28500;
    margin: 8px auto 0;
}

.perfil {
    padding-top: 20px;
}

.perfilContainer {
    margin-bottom: 40px;
}

.perfilImagen {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.perfilImagenContainer {
    width: fit-content;
    position: relative;
}

.buttons {
    gap: 15px;
    margin-bottom: 40px;
}

.perfilButton {
    background-color: #000;
    color: #fff;
    width: 250px;
    border-radius: 20px;
    padding: 8px 10px;
    border: none;
}

.perfilInfoText {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Ajuste de layout para móvil */
@media (max-width: 767.98px) {
    .perfilContainer {
        flex-direction: column;
    }
}
