.perfilTitle::after{
    content: "";
    display: block;
    width: 350px;
    height: 2px;
    background-color: #F28500;
    margin-top: 10px;
}

.perfil{
    padding-top: 20px;
}

.perfilContainer{
    gap: 200px;
    margin: 40px;
}

.perfilImagen{
    height: 150px;
}

.buttons{
    gap: 15px;
    margin-bottom: 40px;
}

.perfilButton{
    background-color: #000;
    color: #fff;
    width: 250px;
    border-radius: 20px;
    padding: 5px 10px;
}